@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #8DB4D5;
}

/* headings and logo */

h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;  
}
#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;  
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #f00606;
}

.active {
    border-bottom: 2px solid #f00606;
}

/* main image  and cover text */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: black;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/love\ cat.jpeg') no-repeat center center;
}


#cover-text {
    font-size: 100%;
    font-family: quicksand, sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    text-align: right;
    
    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 20px;
    padding-right: 35px;

    background-color: rgba(141, 180, 213, .8);

    bottom: 30px;
    right: 100px;

    position: absolute;

}