@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #121619;
    background-color: #8DB4D5;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #121619;
}

.active {
    border-bottom: 2px solid #121619;
}

/* main image  and cover text */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: black;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/love-cat.jpeg') no-repeat center center;
}


#cover-text {
    font-size: 100%;
    font-family: quicksand, sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    text-align: right;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 20px;
    padding-right: 35px;

    background-color: rgba(162, 207, 245, 0.9);

    bottom: 30px;
    right: 100px;

    position: absolute;
}

/* all pets */

#all-pets {
    height: auto;
    margin-bottom: 50px;
}

.profile-img {
    border: 2px solid #121619;
    width: 75%;
}

#alba {
    background-color: rgb(213 149 202);
}

#amos {
    background-color: rgb(230, 231, 128);
}

#vida {
    background-color: rgb(158, 217, 151);
}

#dia {
    background-color: rgb(213, 187, 217);
}

hr {
    border-top: 1px solid #121619;
    width: 100%;
}

.pet-container {
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex-basis: 20%;
}

.pet-container img {
    margin: 0 auto 20px;
}

.name-header {
    text-align: left;
    margin-left: 10px;
}


#welcome {
    margin: 40px 0 40px 20px;
    font-size: 200%;
}

.container {
    display: flex;
    justify-content: space-evenly;
}  


.profile-img {
    width: 75%;
}

/* birthays */

#birthdays {
    background-image: url(../images/birthday3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    width: 100%;
    overflow: hidden;
    color: black;
    opacity: 0.8;
}

#birthdays div {
    background-color: rgba(255, 255, 255, .2);
    width: 25%;
    height: 220px;
    float: left;
    padding: 60px 0 0 10px;
    text-align: center;
    border: 2px solid grey;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    margin: 1%;
    padding: 5%;
    color: #121619;
    font-size: 200%;
}


/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* media queries */

@media screen and (max-width: 1200px) {

    .container {
        flex-wrap: wrap;
    }

	.pet-container {
        flex-basis: 40%;
        flex-shrink: 0;
        margin-bottom: 20px;
	}

    #birthdays > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 800px) {

	.pet-container {
        flex-basis: 80%;
	}

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
        width: 90%;
        padding: 40px 3%;
    }

    #photos {
        column-count: 2;
    }
}

/* Sign up form */


.form-section {
    text-align: center;
}

#signup {
    margin: 50px;
    font-size: 175%;
}

#fname, #lname, #email {
    margin: 10px;
    border: 1px solid #121619;
    font-size: xx-large;
}

p {
    margin: 15px;
    font-size: 150%;
}

input[type=submit] {
    background-color: rgb(228, 230, 138);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:  50px;
  }
  
  /* thank you page */

  #thankyou {
      text-align: center;
      padding: 50px;
  }

  #thumbs {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }